{% extends 'layout.html' %} {% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center text-white">Migraine</h1>
    </div>
    <hr>

    <div class="text-justify bg-light p-5 rounded-3">
        <p>Migraine is a common disabling primary headache disorder. Many epidemiological studies have documented its
            high prevalence and socio-economic and personal impacts. In the Global Burden of Disease Study2010
            (GBD2010), it was ranked as the third most prevalent disorder in the world. In GBD2015, it was ranked
            third–highest cause of disability worldwide in both males and females under the age of 50 years.</p>

        <div class="offset-md-3">
            <p>In this study we classified 7 categories of migraine. They are</p>
            <ul>
                <li>Migraine without aura</li>
                <li>Typical aura without migraine</li>
                <li>Typical aura with migraine</li>
                <li>Basilar-type aura</li>
                <li>Sporadic hemiplegic migraine</li>
                <li>Familial hemiplegic migraine</li>
                <li>Other (Not Migraine)</li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}